.btn-contained-effects {
    &:hover {
        box-shadow: $elevation-04;
    }
        &:active {
            box-shadow: $elevation-08;
            background-color: $primaryPressed;
        }
}

.btn-outlined-effects {
    &:hover {
        box-shadow: none;
        background-color: $primaryOverlay-hover;
    }
    &:active {
        box-shadow: none;
        background-color: $primaryOverlay-pressed;
    }
}

.btn {
    @extend .buttonText;
    @extend .btn-contained-effects;
    cursor: pointer;
    color: $lightSurface;
    height: 48px;
    border-radius: 3px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: $colorPrimary;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    transition: background-color 0.2s, box-shadow 0.2s;
    & :first-child  {
        color: $lightSurface;
    }
}

.btn-icon {
    size: 20px;
    color: $lightSurface;
}

.btn-outlined {
    @extend .btn;
    @extend .btn-outlined-effects;
    background-color: transparent;
    border: 2px solid $colorPrimary;
    color: $colorPrimary;
}

.btn-outlined-dark {
    @extend .btn-outlined;
    color: $lightSurface;
}

.btn-text {
    @extend .btn-outlined;
    border: none;
    color: $colorPrimary;
}

.settings-icon {
    transition: color 0.1s;

    &:hover {
        color: $mediumSurface;
        cursor: pointer;
    }
    &:active {
        color: $primaryPressed;
    }
}