body {
    min-height: 100vh;
    background-color: $darkSurface;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 268px;
    color: white;
    text-align: center;

    @include mq($break-lg) {
        max-width: none;
        display: grid;
        grid-template-columns: 260px auto;
        grid-template-rows: auto auto;
        gap: 16px 24px;
        grid-template-areas:
            "time time"
            "progress quote";
    }
}

.time {
    grid-area: time;
}
.progress {
    grid-area: progress;
}
.quote {
    grid-area: quote;
    text-align: left;
}

q,
.boldBody {
    text-align: left;
    width: 100%;
}

.App-logo {
    width: 238px;
    max-height: 238px;
    pointer-events: none;
}

.timer-btn {
    cursor: pointer;
    width: 100%;
    @include mq($break-lg) {
        width: auto;
    }
}

.fab {
    width: auto;
}

.timeCounter {
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: flex-end;
    
    @include mq($break-lg) {
        flex-direction: row;
    }
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; //calc(100vw - 32px)
    height: 100vh; //calc(100vh - 109px)

    position: absolute;
    top: 0;
    left: 0;

    padding: 16px;
    padding-top: 93px;
    color: $lightSurface;

    @include mq($break-xl) {
        padding: 0;
        justify-content: center;
    }
}

.landing-fabs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    gap: 24px;
    bottom: 16px;
    right: 16px;
    @include mq($break-md) {
        bottom: 32px;
        right: 32px;
    }
    @include mq($break-lg) {
        right: 76px;
    }
    @include mq($break-xl) {
        flex-direction: row;
        position: relative;
        margin-top: 62px;
        bottom: 0;
        right: 0;
    }
}

.settings-icon {
    @extend .btn-outlined-effects;
    width: 40px;
    height: 40px;
    padding: 3.33px;
    border-radius: 40px;
    position: absolute;
    top: 16px;
    right: 16px;
    @include mq($break-md) {
        right: 32px;
        top: 32px;
    }
    @include mq($break-lg) {
        right: 76px;
        top: 32px;
    }
    @include mq($break-xl) {
        right: 15%;
        top: 132px;
    }
}

::-moz-selection {
    /* Code for Firefox */
    color: $lightSurface;
    background: $colorPrimary;
}

::selection {
    color: $lightSurface;
    background: $colorPrimary;
}

fieldset {
    border: none;
}

.settings-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.32);

    display: none; // use display: flex when showing
}

.timer-bg {
    @extend .settings-container;
    background-color: $darkSurface;
    height: 100vh;
    display: none; // use display: flex when showing
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.display-inline {
    display: inline;
}

.extraTime-ticking {
    color: $darkSurface;
    background-color: $lightSurface;
}

.settings {
    background-color: $lightSurface;

    color: $darkSurface;
    padding: 19px 14px 4px;
    border-radius: 4px;
    box-shadow: $elevation-06;
    & .time-selectors {
        display: flex;
        align-items: flex-end;
    }
    & label {
        display: inline-block;
    }
    & .time-divider {
        @extend .buttonText;
        margin-left: 8px;
        margin-right: 8px;
    }
}

.vertical-divider {
    height: 56px;
    margin-left: 29px;
    margin-right: 29px;
    border-left: 1px solid $mediumSurface;
}

.dialog-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.title-w-icon {
    display: flex;
    flex-direction: row;
    gap: 8px;
    & :first-child {
        align-self: center;
        color: $darkSurface;
    }
}
