@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap");

body {
    font-size: 16px; // base em value
    font-family: $font-stack;
}

.h1 {
    font-size: 6em; // 96px
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04em;
    margin: 0;
}

.h2 {
    font-size: 2.875em; // 46px
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
}

.buttonText {
    font-size: 1.125em; // 20px
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.subtitle {
    font-size: 1.250em; // 20px
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.01em;
}

.body {
    font-size: 1.125em; // 16px
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.01em;
}

.boldBody {
    font-family: Dosis;
    font-size: 1.125em; // 20px
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.005em;
}

.caption {
    font-size: 1em; // 16px
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.4000000059604645px;
}

.extraTime {
    @extend .body;
    color: $lightSurface;
    background-color: $colorPrimary;
    padding: 4px;
    @include mq($break-lg) {
        margin-bottom: 16px;
        margin-left: 16px;
    }
}
